@use 'base';


.main{
	display: flex;
	flex-flow: row nowrap;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100vw;
	padding: 0 0 0 0;
	white-space: nowrap;
	scroll-snap-type: x mandatory;

	section{
		height: 100vh;
		min-width: 100vw;
		scroll-snap-align: start;
	}

	.home{
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;

		&__message{

			&-text{
				font-size: 3em;
				text-transform: capitalize;
			}
		}
	}

	.examples{
		background-color: lighten(black, 4);
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;

		&__example{	
			&-text{
				font-size: 3em;
				text-transform: capitalize;
				color: darken(white, 2);
			}
		}
	}
}



