* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  width: min(100%, 100vw);
  height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  padding: 0 0 0 0;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}
.main section {
  height: 100vh;
  min-width: 100vw;
  scroll-snap-align: start;
}
.main .home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.main .home__message-text {
  font-size: 3em;
  text-transform: capitalize;
}
.main .examples {
  background-color: #0a0a0a;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.main .examples__example-text {
  font-size: 3em;
  text-transform: capitalize;
  color: #fafafa;
}
